---
import BaseLayout from '../layouts/BaseLayout.astro'

import ContactCTA from '../components/ContactCTA.astro'
import Hero from '../components/Hero.astro'
---

<BaseLayout
  title="About | Juan Rivero Sesma"
  description="About Juan Rivero Sesma Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below for an overview about myself and my background. Visit my LinkedIn to learn more."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-mountain.jpg"
          alt="Me at the mountain"
        />
      </Hero>

      <section>
        <h2 class="section-title">Work</h2>
        <div class="content">
          <h3 class="content-title">Airbus</h3>
          <h4 class="content-subtitle">Machine Learning Work-Package Leader</h4>
          <p>
            Core developer and leader of a passionate R&T team tasked to
            conceive and develop embeddable and certifiable ML-powered
            algorithms for next-gen Airbus avionics. Define work plan,
            coordinate with other WPs, co-develop industrial products with a
            cross-Atlantic team in Silicon Valley (Acubed), interact with Airbus
            internal stakeholders and external entities to create business
            opportunities and build synergies.
          </p>
          <p>
            ML solution design + Compression (quantization/pruning) + Real/Synth
            data blending + AWS/Slurm.
          </p><br />
          <h3 class="content-title">Collins Aerospace</h3>
          <h4 class="content-subtitle">Machine Learning Engineer</h4>
          <p>
            Design and implementation of a helicopter real-time AI system for
            obstacle detection.
          </p>
          <p>
            ML model training + Classic image processing + Stereo vision for 3D.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <h3 class="content-title">MSc in Computer Science</h3>
          <h4 class="content-subtitle">ISAE Supaero, France</h4>
          <p>Minor: Autonomous Systems and Drones.</p><br />
          <h3 class="content-title">BSc in Aerospace Engineering</h3>
          <h4 class="content-subtitle">
            Universidad Politécnica de Madrid, Spain
          </h4>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            Data Science | Computer Vision | NLP | Software development |
            Statistics | HPC | Team management
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>

  <style>
    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
    }

    .content {
      grid-column: 2 / 4;
    }

    .content :global(a) {
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
      text-decoration-color: currentColor;
    }

    .content-title {
      font-size: var(--text-lg);
      color: var(--gray-0);
      font-weight: 700;
    }

    .content-subtitle {
      font-size: var(--text-md);
      color: var(--gray-200);
      font-style: italic;
      margin-bottom: 0.75rem;
    }

    @media (min-width: 50em) {
      .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }
    }
  </style>
</BaseLayout>
